# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Docker
.dockerignore
Dockerfile

# Version control
.git
.gitignore
.gitattributes
.github

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db